{% extends 'base.html' %}
{% load static %}
{% block content %} 

    <div class="site-blocks-cover inner-page" style="background-image: url('{% static 'images/hero_1.jpg' %}');">
      <div class="container">
        <div class="row">
          <div class="col-lg-7 mx-auto align-self-center">
            <div class=" text-center">
              <h1>About Us</h1>
              <p>Based in Iringa Region, Tanzania, we are committed to providing quality pharmaceutical products and healthcare solutions to our community. Our local presence allows us to understand and serve the specific healthcare needs of Tanzania while maintaining international standards of excellence.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="site-section bg-light custom-border-bottom" data-aos="fade">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md-6">
            <div class="block-16">
              <figure>
                <img src="{% static 'images/bg_1.jpg' %}" alt="Image placeholder" class="img-fluid rounded">
                <a href="https://vimeo.com/channels/staffpicks/93951774" class="play-button popup-vimeo"><span
                    class="icon-play"></span></a>
    
              </figure>
            </div>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-5">
    
    
            <div class="site-section-heading pt-3 mb-4">
              <h2 class="text-black">How We Started</h2>
            </div>
            <p>Our journey began with a shared vision of improving healthcare access and quality in Tanzania. We started as a small team dedicated to bringing high-quality pharmaceutical products to the community. Over time, we expanded our offerings to include a wide range of healthcare solutions, all designed to meet the specific needs of our local population.</p>
              asperiores illum. Atque, in, fuga excepturi corrupti error corporis aliquam unde nostrum quas.</p>
            <p>Accusantium dolor ratione maiores est deleniti nihil? Dignissimos est, sunt nulla illum autem in, quibusdam
              cumque recusandae, laudantium minima repellendus.</p>
    
          </div>
        </div>
      </div>
    </div>

    

    <div class="site-section bg-light custom-border-bottom" data-aos="fade">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md-6 order-md-2">
            <div class="block-16">
              <figure>
                <img src="{% static 'images/hero_1.jpg' %}" alt="Image placeholder" class="img-fluid rounded">
                <a href="https://vimeo.com/channels/staffpicks/93951774" class="play-button popup-vimeo"><span
                    class="icon-play"></span></a>
    
              </figure>
            </div>
          </div>
          <div class="col-md-5 mr-auto">
    
    
            <div class="site-section-heading pt-3 mb-4">
              <h2 class="text-black">We Are Trusted Company</h2>
            </div>
            <p class="text-black"> Our commitment to quality and customer satisfaction is at the heart of everything we do. We work closely with healthcare professionals and regulatory authorities to ensure that our products are safe, effective, and of the highest standard.</p>
            <p class="text-black">Our team is comprised of experienced professionals who are dedicated to providing the best possible care to our patients. We are committed to continuous improvement and innovation in our products and services.</p>
    
          </div>
        </div>
      </div>
    </div>
    
    <div class="site-section site-section-sm site-blocks-1 border-0" data-aos="fade">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-lg-4 d-lg-flex mb-4 mb-lg-0 pl-4" data-aos="fade-up" data-aos-delay="">
            <div class="icon mr-4 align-self-start">
              <span class="icon-truck text-primary"></span>
            </div>
            <div class="text">
              <h2>Free Shipping</h2>
              <p>We offer free shipping on all orders within Tanzania, ensuring that you receive your products quickly and conveniently.
              </p>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 d-lg-flex mb-4 mb-lg-0 pl-4" data-aos="fade-up" data-aos-delay="100">
            <div class="icon mr-4 align-self-start">
              <span class="icon-refresh2 text-primary"></span>
            </div>
            <div class="text">
              <h2>Free Returns</h2>
              <p>We offer free returns on all orders within Tanzania, ensuring that you receive your products quickly and conveniently.
              </p>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 d-lg-flex mb-4 mb-lg-0 pl-4" data-aos="fade-up" data-aos-delay="200">
            <div class="icon mr-4 align-self-start">
              <span class="icon-help text-primary"></span>
            </div>
            <div class="text">
              <h2>Customer Support</h2>
              <p>Our dedicated customer support team is here to assist you with any questions or concerns you may have. We are committed to providing the highest level of service to our customers.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    

    <div class="site-section bg-light custom-border-bottom" data-aos="fade">
      <div class="container">
        <div class="row justify-content-center mb-5">
          <div class="col-md-7 site-section-heading text-center pt-4">
            <h2>The Team</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-lg-6 mb-5">
    
            <div class="block-38 text-center">
              <div class="block-38-img">
                <div class="block-38-header">
                  <img src="{% static 'images/person_1.jpg' %}" alt="Image placeholder" class="mb-4">
                  <h3 class="block-38-heading h4">Kanogu Nkuba</h3>
                  <p class="block-38-subheading">CEO/Co-Founder</p>
                </div>
                <div class="block-38-body">
                  <p>Kanogu Nkuba is the CEO and Co-Founder of Saguda DLDM. With a strong background in healthcare and a passion for improving access to quality medical products, she leads the company's strategic direction and ensures that our products meet the highest standards of safety and efficacy.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-6 mb-5">
            <div class="block-38 text-center">
              <div class="block-38-img">
                <div class="block-38-header">
                  <img src="{% static 'images/person_2.jpg' %}" alt="Image placeholder" class="mb-4">
                  <h3 class="block-38-heading h4">Mrs Kanogu Nkuba</h3>
                  <p class="block-38-subheading">Co-Founder</p>
                </div>
                <div class="block-38-body">
                  <p>Mrs Kanogu Nkuba is the Co-Founder of Saguda DLDM. With a strong background in healthcare and a passion for improving access to quality medical products, she leads the company's strategic direction and ensures that our products meet the highest standards of safety and efficacy.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-6 mb-5">
            <div class="block-38 text-center">
              <div class="block-38-img">
                <div class="block-38-header">
                  <img src="{% static 'images/Mussa.jpg' %}" alt="Image placeholder" class="mb-4">
                  <h3 class="block-38-heading h4">Mussa Emmanuel Hamis</h3>
                  <p class="block-38-subheading">Marketing</p>
                </div>
                <div class="block-38-body">
                  <p>Mussa Emmanuel Hamis is the Marketing Manager of Saguda DLDM. With a strong background in marketing and a passion for improving access to quality medical products, he leads the company's marketing strategy and ensures that our products are marketed effectively to our customers.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-6 mb-5">
            <div class="block-38 text-center">
              <div class="block-38-img">
                <div class="block-38-header">
                  <img src="{% static 'images/person_4.jpg' %}" alt="Image placeholder" class="mb-4">
                  <h3 class="block-38-heading h4">Mike Coolbert</h3>
                  <p class="block-38-subheading">Sales Manager</p>
                </div>
                <div class="block-38-body">
                  <p>Mike Coolbert is the Sales Manager of Saguda DLDM. With a strong background in sales and a passion for improving access to quality medical products, he leads the company's sales strategy and ensures that our products are sold effectively to our customers.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


{% endblock %}